server:
  port: 8888

management:
  security:
    enabled: false

spring:
  cloud:
    bus:
      enabled: true
    config:
      server:
        git:
          uri: file:///Users/leonardo/Desktop/config-repo          
  rabbitmq:
    host: localhost
    port: 5672    